<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Magik Park - Privacidad</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/privacidad.css">
    <script type="module" src="https://unpkg.com/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>
<body>
    <ion-app>
        <ion-header>
            <ion-toolbar class="nav-toolbar" style="height: 100px;">
                <div style="display: flex; align-items: center; width: 100%;">
                    <img src="logo.png" alt="Magik Park Logo" href= template/index.html style="margin-right: 20px;">
                    <div class="nav-buttons" style="display: flex; align-items: center;">
                        <ion-button fill="outline" href="template/atracciones.html">
                            Atracciones
                            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                        </ion-button>
                        <ion-button fill="outline" href="template/formulario.html">
                            Formulario
                            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                        </ion-button>
                        <ion-button fill="outline" href="template/alojamiento.html">
                            Galeria de Imagenes
                            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                        </ion-button>
                        <ion-button style="--background: #c3cfd9;" href="template/entradas.html">
                            Comprar Entradas
                        </ion-button>
                    </div>
                </div>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <div class="container">
                <div class="title">POLÍTICAS DE PRIVACIDAD</div>

                <div class="section-title">I. ¿Quiénes son los responsables del tratamiento de sus datos?</div>
                <div class="paragraph">
                    Los responsables del tratamiento de sus datos personales son Madrid Theme Park Management, S.L.U. (sociedad que opera el Magik Park) y la sociedad que gestiona sus servicios centrales, Parques Reunidos Servicios Centrales, S.A., ambos con domicilio en Federico Mompou 5, Edificio 1 planta 3ª, 28050, Madrid, España, actuando individualmente como responsables del tratamiento y conjuntamente como corresponsables del tratamiento (en adelante, los "Responsables").
                </div>

                <div class="section-title">II. ¿Con qué finalidad y legitimación tratamos sus datos?</div>
                <div class="paragraph">
                    Los Responsables tratarán sus datos personales de acuerdo con las finalidades que se detallan a continuación y conforme al propósito del email a través del cual usted haya facilitado sus datos personales:
                </div>
                <div class="paragraph">
                    <b>Gestión de la relación contractual por la compra o reserva de productos y servicios.</b>
                    Los datos personales facilitados serán tratados para gestionar la compra o reserva de productos y servicios de los Responsables, tramitar el pago de los mismos y remitirle por correo electrónico la confirmación y el resguardo correspondiente junto con la documentación que resulte relevante para su visita y acceso al parque.
                </div>
                <div class="section-title">III.- ¿A quiénes comunicaremos sus datos?</div>
                <div class="paragraph">
                    Sólo si resulta necesario para atender posibles responsabilidades legales o cumplir con plazos legales de conservación, sus datos personales podrán ser comunicados a Autoridades Públicas competentes y en particular de la Autoridad de Control competente en materia de protección de datos, Jueces, Tribunales o el Ministerio Fiscal conforme al Derecho de la Unión Europa y/o régimen jurídico interno.
                </div>
                <div class="section-title">IV.- ¿Cómo hemos obtenido sus datos?</div>
                <div class="paragraph">
                    Los datos personales tratados por los Responsables son facilitados directamente por usted como titular de los mismos a través de esta página web y/o durante la relación mantenida con usted. Si usted facilita datos personales de terceros, se obliga a recabar el consentimiento expreso e informado de los titulares de los mismos para facilitar sus datos personales a los Responsables conforme a las previsiones que se describen en la presente Política de Privacidad. 
                </div>
            </div>
        </ion-content>
    </ion-app>
</body>
</html>